button[class^="cell "] {
    background-color: white;
    border: none;
    color: white;
    padding: 15px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.game-board {

    display: grid;
    grid-template-columns: repeat(7,1fr);
    /*grid-template-rows: repeat(6, 1fr);*/
    grid-gap: 10px;
    width: 500px;
    height: 60px;
    margin: 0 auto;
    background-color : burlywood;
    border-radius: 0px;
    border:1px solid #333;
    /*box-shadow: 0 0 0 1px #333;*/
    padding: 3px;
    justify-content: center;
}

.game-board .cell {
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    color: #333;
    box-shadow: 0 0 0 1px #333;
    cursor: pointer;
}


